:root {
  --step-0: clamp(1.625rem, 5vw, 2.5rem); /* h1 26px , 40px*/
  --step-1: clamp(1.5rem, 4.6vw, 2rem); /* h2 24px , 32px*/
  --step-2: clamp(1.375rem, 4.3vw, 1.75rem); /* h3 22px , 28px*/
  --step-3: clamp(1.25rem, 4vw, 1.5rem); /* h4 20px , 24px*/
  --step-4: clamp(1.125rem, 4vw, 1.375rem); /* h5 18px , 22px*/

  --step-5: clamp(1rem, 4vw, 1.375rem); /* p22 16px , 22px*/
  --step-6: clamp(0.875rem, 3vw, 1rem); /* p 14px , 16px*/

  --step-7: clamp(1.625rem, 5vw, 4rem); /* h1-exceptional case 26px , 64px*/
  --step-8: clamp(0.625rem, 3vw, 0.875rem); /* p-exceptional case 12px , 14px*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smooth: 2rem;
  font-family: Roboto Slab;
  /* font-family: "Roboto Slab", serif; */
}

body {
  background-color: #fafafa !important;
}
body::before {
  height: 100%;
  width: 100%;
  /* position: absolute;
  top: 0;
  left: 0;
  background-size: 6%;
  filter: brightness(0.6); */
}

h1 {
  font-size: var(--step-0) !important;
}
h2 {
  font-size: var(--step-1) !important;
}
h3 {
  font-size: var(--step-2) !important;
}
h4 {
  font-size: var(--step-3) !important;
}
h5 {
  font-size: var(--step-4) !important;
}

.navhov {
  font-family: Roboto Slab;

  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.navhov:hover {
  border-bottom: solid 1px;
  border-color: #000000;
  color: #212121 !important;
  transition: all 1s ease-in !important;
}

.navhov:active {
  border: none;
}

.nabbtnhov {
  font-family: Roboto Slab;
  color: #212121;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.nabbtnhov:hover {
  background-color: #585757 !important;
  transition: all 0.8s ease-in-out !important;
}

.drophov:hover {
  background-color: #000000 !important;
  color: white !important;
  transition: all 0.8s ease-in-out !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.8s ease-in-out !important;
}
/* 
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.scroll-bounce {
  animation: bounce 2s infinite;
} */

/* footer */

.fofont {
  font-family: Roboto Slab;

  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.folfont {
  font-family: Roboto Slab;

  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.rights {
  font-family: "Roboto Slab";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: #525252;
}

.demo-wrap {
  position: relative;
}

.demo-wrap:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("https://cdn-proxy.slickplan.com/wp-content/uploads/2022/01/header-website-information-architecture.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: white;
}

.demo-content {
  position: relative;
}

/* who section */

.whop {
  font-weight: 400;
  color: #525252;
}
.whobtn {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #212121;
}

/* design process */

.headingdesign {
  color: #212121;
}

.titledesign {
  font-weight: bold;
  color: #212121;
}

.pdesign {
  font-weight: 400;

  color: #525252;
}

.designhov:hover {
  transition: all 0.6s ease-in-out !important;
  background-color: #212121 !important;
  .p {
    color: #fafafa !important;
    transition: all 0.9s ease-in-out !important;
  }
  .hovsmall {
    background-color: #fafafa !important;
    color: #212121 !important;
    transition: all 0.8s ease-in-out !important;
  }
}

/* blog */

.blogtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.blogtext {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.blogbtn:hover {
  background-color: #212121 !important;
  color: #fafafa !important;
  transition: all 0.6s ease-in-out !important;
}

/* offer Section     */
.offer {
  cursor: pointer;
}

.offer:hover {
  background-color: #212121 !important;
  color: #fafafa !important;
  transition: all 0.6s ease-in-out !important;
  .offerbtn {
    color: #fafafa !important;
  }
}
.offer:active {
  background-color: #212121 !important;
  color: #fafafa !important;
}
